<%= form_for(@attorney) do |f| %>
  <% if @attorney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attorney.errors.count, "error") %> prohibited this attorney from being saved:</h2>

      <ul>
      <% @attorney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :dni %><br>
    <%= f.number_field :dni %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_area :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.number_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :fecnac %><br>
    <%= f.date_select :fecnac %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
