<p id="notice"><%= notice %></p>

<h1>Listing Attorneys</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Fecnac</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attorneys.each do |attorney| %>
      <tr>
        <td><%= attorney.nombre %></td>
        <td><%= attorney.apellido %></td>
        <td><%= attorney.dni %></td>
        <td><%= attorney.direccion %></td>
        <td><%= attorney.telefono %></td>
        <td><%= attorney.fecnac %></td>
        <td><%= link_to 'Show', attorney %></td>
        <td><%= link_to 'Edit', edit_attorney_path(attorney) %></td>
        <td><%= link_to 'Destroy', attorney, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attorney', new_attorney_path %>
